# name:
# logo:
# description:
# category:
# tags:
# website:
# docs:
# repo:
---
services:
  cup:
    image: ghcr.io/sergi0g/cup:latest
    restart: unless-stopped
    command: serve
    ports:
      - "8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
