# name:
# logo:
# description:
# category:
# tags:
# website:
# docs:
# repo:
---
services:
  appsmith:
    image: index.docker.io/appsmith/appsmith-ee:v1.29
    volumes:
      - ../files/stacks:/appsmith-stacks
