services:

  linkstack:
    image: linkstackorg/linkstack:latest
    container_name: linkstack
    restart: unless-stopped
    # security_opt:
    #   - apparmor:unconfined
    depends_on:
      - mysql
    user: apache:apache
    networks:
      linkstack:
        ipv4_address: ${linkstack_ip}
    ports:
      - '8880:80'
      - '8081:443'
    environment:
      TZ: "${TZ}"
      SERVER_ADMIN: "${admin_email}"
      HTTP_SERVER_NAME: "${main_domain}"
      HTTPS_SERVER_NAME: "${main_domain}"
      LOG_LEVEL: "info"
      PHP_MEMORY_LIMIT: "256M"
      UPLOAD_MAX_FILESIZE: "8M"
    volumes:
      - linkstack-data:/htdocs

  mysql:
    image: mysql:8
    container_name: linkstack-mysql
    restart: unless-stopped
    # security_opt:
    #   - apparmor:unconfined
    networks:
      - linkstack
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${mysql_root_password}
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  linkstack-data:
    name: linkstack-data
    driver: local
  mysql-data:
    name: mysql-data
    driver: local

networks:
  locker:
    name: locker
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET}
          gateway: ${GATEWAY}
