# name:
# logo:
# description:
# category:
# tags:
# website:
# docs:
# repo:
---
services:
  dashy:
    image: lissy93/dashy:latest
    restart: unless-stopped
    ports:
      - 8080
    volumes:
      - dashy-config:/app/user-data
volumes:
  dashy-config: {}
