# name:
# logo:
# description:
# category:
# tags:
# website:
# docs:
# repo:
---
services:
  commafeed:
    image: athou/commafeed:latest-h2
    restart: unless-stopped
    volumes:
      - ../files/commafeed-data:/commafeed/data
    ports:
      - 8082
